:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Bebas Neue", cursive;
  --first-color: #48555b;
  --secondary-color: #ffffff;
  --accent-color: #00a4e5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
}

box* {
  margin: 0;
}

body {
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  display: block;
  width: 971px;
  padding: 0 15px;
  margin: 0 auto;
}

.link--logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 2.30625px;
  color: var(--first-color);
}

.text {
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.1875px;
  color: var(--first-color);
}

.undertitle {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
  color: var(--secondary-color);
}

.button {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  text-align: center;
}

.button--get-in-touch {
  display: block;
  margin: 0 auto;
}

.header {
  max-width: 1438px;
  height: 768px;
  margin: 0 auto;
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 316px;
  font-family: var(--secondary-font);
  font-size: 60px;
  line-height: 1.67;
  letter-spacing: 5.70937px;
  color: var(--secondary-color);
}

.header__undertite {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--secondary-color);
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 218px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 3.7px;
  color: var(--secondary-color);
}

.header__link-logo {
  display: block;
  padding-top: 38px;
}

.header__logo {
  display: block;
  margin: 0 auto;
}

.nav {
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 57px;
}

.nav__section {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__item:first-child {
  padding-right: 48px;
}

.nav__item:nth-child(2) {
  padding-right: 42px;
}

.nav__item:nth-child(3) {
  padding-right: 39px;
}

.nav__item:nth-child(4) {
  padding-right: 30px;
}

.nav__link {
  text-decoration: none;
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1.09091px;
  color: var(--first-color);
}

.about {
  margin-bottom: 119px;
}

.about__section {
  display: flex;
  justify-content: space-between;
}

.about__list {
  display: flex;
}

.about__subtitle {
  display: block;
  width: 405px;
  height: 108px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.1875px;
  color: var(--first-color);
  outline: 1px solid tomato;
  margin-bottom: 30px;
}

.about__subtitle--accent {
  color: var(--accent-color);
}

.about__advantages {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.1875px;
  /*-- color: var(--secondary-color);--*/
}

.about__text {
  display: block;
  width: 405px;
  height: 115px;
  outline: 1px solid tomato;
}

.title--about {
  display: block;
  text-align: center;
  margin-bottom: 65px;
}

.services {
  margin-bottom: 115px;
}

.services__section {
  display: flex;
  margin-bottom: 78px;
}

.services__description {
  display: block;
  width: 405px;
  height: 38px;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--first-color);
  margin-right: 32px;
}

.title--services {
  display: block;
  margin-right: 155px;
}

.cards-list {
  display: flex;
  justify-content: space-between;
}

.cards-list__item {
  width: 295px;
  height: 330px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding-top: 38px;
  padding-bottom: 39px;
  padding-right: 22px;
  padding-left: 23px;
}

.cards-list__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.426667px;
  color: var(--first-color);
}

.get-in-touch {
  padding-top: 120px;
  padding-bottom: 230px;
}

.get-in-touch__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
  width: 350px;
  height: 72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: var(--first-color);
}

.form {
  background-color: #171819;
}

.form__section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
  color: var(--secondary-color);
}

.footer {
  background-color: #141a20;
}

.footer__text {
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.85px;
  color: var(--secondary-color);
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 2.27;
  letter-spacing: 0.846154px;
  color: var(--secondary-color);
}

.address__link {
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.846154px;
  color: var(--secondary-color);
}

.footer__section {
  display: flex;
  padding-top: 42px;
  padding-bottom: 40px;
}

.copyright {
  background-color: #171819;
  padding-top: 22px;
  padding-bottom: 23px;
}

.undertitle-copyright {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */