.button {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  text-align: center;
}

.button--get-in-touch {
  display: block;
  margin: 0 auto;
}
