.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  display: block;
  width: 971px;
  padding: 0 15px;
  margin: 0 auto;
}

.link--logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 2.30625px;
  color: var(--first-color);
}

.text {
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.1875px;
  color: var(--first-color);
}

.undertitle {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
  color: var(--secondary-color);
}
