.form {
  background-color: #171819;
}

.form__section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.846154px;
  color: var(--secondary-color);
}
