.footer {
  background-color: gray;
}

.footer__text {
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.85px;
  color: #ffffff;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 2.27;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.address__link {
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.846154px;
  color: #ffffff;
}
