.header {
  max-width: 1438px;
  height: 768px;
  margin: 0 auto;
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 316px;
  font-family: var(--secondary-font);
  font-size: 60px;
  line-height: 1.67;
  letter-spacing: 5.70937px;
  color: var(--secondary-color);
}

.header__undertite {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--secondary-color);
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 218px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 3.7px;
  color: var(--secondary-color);
}

.header__link-logo {
  display: block;
  padding-top: 38px;
}

.header__logo {
  display: block;
  margin: 0 auto;
}
