.about {
  margin-bottom: 119px;
}

.about__section {
  display: flex;
  justify-content: space-between;
}

.about__list {
  display: flex;
}

.about__subtitle {
  display: block;
  width: 405px;
  height: 108px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.1875px;
  color: var(--first-color);
  outline: 1px solid tomato;
  margin-bottom: 30px;
}

.about__subtitle--accent {
  color: var(--accent-color);
}

.about__advantages {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.1875px;
  /*-- color: var(--secondary-color);--*/
}

.about__text {
  display: block;
  width: 405px;
  height: 115px;
  outline: 1px solid tomato;
}

.title--about {
  display: block;
  text-align: center;
  margin-bottom: 65px;
}
