.services__description {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555b;
}

.cards__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.426667px;
  color: #48555b;
}
